<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/community.js"></script>
</head>
<body>
<!-- 头部 -->
<div th:insert="attachNavigation.html :: navigation"></div>
<!-- 主体部分 -->
<div class="container-fluid main profile" >
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <h1 th:text="${sectionName}"></h1>
            <hr>
            <ul class="media-list list-group">
                <li class="media list-group-item" style="margin-top: 0;" th:each="question : ${questions}">
                    <div class="media-left">
                        <a>
                            <img class="media-object img-circle" src=""
                                 th:src="*{question.user.avatarUrl}" alt="编者头像">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" th:text="*{question.title}">震惊！某男子怎么么</h4>
                        <a th:href="@{'/question.html/'+${question.getId()}}" >点击查看详情</a><br>
                        <span class="text-desc">
                            <span th:text="*{question.commentCount}"></span>个回复&nbsp;◆&nbsp;
                            <span th:text="*{question.viewCount}"></span>次浏览&nbsp;◆&nbsp;
                            <span th:text="*{#dates.format(question.gmtCreate,'MM dd yyyy HH:mm')}"></span>&nbsp;&nbsp;
                        </span>
                    </div>
                </li>
            </ul>
            <!-- 分页 -->
            <nav aria-label="Page navigation">
                <ul class="pagination" th:if="*{pageDTO != null}">
                    <li th:if="*{pageDTO.showFirstPage}">
                        <a th:href="@{'/profile.html/'+${section}(index=1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li th:if="*{pageDTO.showPrevious}">
                        <a th:href="@{'/profile.html/'+${section}(index=*{pageDTO.pageIndex}-1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="page : *{pageDTO.pages}" th:class="*{pageDTO.pageIndex == page}?'active':''">
                        <a th:href="@{'/profile.html/'+${section}(index=${page})}" th:text="${page}">1</a>
                    </li>
                    <li th:if="*{pageDTO.showNext}">
                        <a th:href="@{'/profile.html/'+${section}(index=*{pageDTO.pageIndex}+1)}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li th:if="*{pageDTO.showEndPage}">
                        <a th:href="@{'/profile.html/'+${section}(index=*{pageDTO.pageCount})}" aria-label="Previous">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- 间隔 -->
        <div class="col-lg-1 col-md-1 visible-lg-block visible-md-block"></div>
        <!-- right -->
        <div class="col-lg-3 col-md-3">
            <div class="list-group section">
                <a href="/profile.html/reply" class="list-group-item"
                   th:class="${section == 'reply'}?'list-group-item active':'list-group-item'">我的回复
                    <span class="badge">14</span>
                </a>
                <a href="/profile.html/question"
                   th:class="${section == 'question'}?'list-group-item active':'list-group-item'">我的问题
                    <span class="badge">14</span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>