<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiling.z.community.dao.QuestionMapper">

    <resultMap id="QuestionDTO" type="com.zhiling.z.community.model.Question">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="description" column="description" />
        <result property="tag" column="tag" />
        <result property="creator" column="creator" />
        <result property="commentCount" column="commentCount" />
        <result property="viewCount" column="viewCount" />
        <result property="likeCount" column="likeCount" />
        <result property="gmtCreate" column="gmtCreate" />
        <result property="gmtModify" column="gmtModify" />
        <association property="user" column="creator" javaType="com.zhiling.z.community.model.User">
            <id property="id" column="creator" />
            <result property="name" column="name" />
            <result property="avatarUrl" column="avatarUrl" />
            <result property="bio" column="bio" />
        </association>
    </resultMap>

    <insert id="insertQuestion" parameterType="com.zhiling.z.community.model.Question">
        INSERT INTO questions(title, description, tag, creator, gmtCreate, gmtModify) VALUES(#{title},
            #{description}, #{tag}, #{creator}, #{gmtCreate}, #{gmtModify})
    </insert>
    <update id="updateQuestion">
        UPDATE questions
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="tag != null">
                tag = #{tag},
            </if>
            <if test="gmtModify != 0">
                <if test="gmtModify != null">
                    gmtModify = #{gmtModify},
                </if>
            </if>
            <if test="viewCount != 0">
                <if test="viewCount != null">
                    viewCount = #{viewCount},
                </if>
            </if>
            <if test="commentCount != 0">
                <if test="commentCount != null">
                    commentCount = #{commentCount},
                </if>
            </if>
            <if test="likeCount != 0">
                <if test="likeCount != null">
                    likeCount = #{likeCount},
                </if>
            </if>
        </set>
            WHERE id = #{id}
    </update>

    <select id="getQuestionById" resultMap="QuestionDTO">
        SELECT q.*,u.* FROM questions q LEFT JOIN users u ON q.`creator` = u.`id` WHERE q.id = #{id}
    </select>
    <select id="listQuestion" resultMap="QuestionDTO" parameterType="com.zhiling.z.community.dto.PageDTO" >
        SELECT q.*,u.* FROM questions q LEFT JOIN users u ON q.`creator` = u.`id` LIMIT #{index},#{pageSize}
    </select>
    <select id="countQuestion" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM questions
    </select>
    <select id="listQuestionByUserId" resultMap="QuestionDTO">
        SELECT q.*,u.* FROM questions q LEFT JOIN users u ON q.`creator` = u.`id` WHERE creator = #{creator}
         LIMIT #{page.index},#{page.pageSize}
    </select>
    <select id="countQuestionByUserId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM questions WHERE creator = #{creator}
    </select>


</mapper>